<?xml version="1.0" encoding="utf-8"?>
<!-- Static framework overlay (ADR 0030): replaces the default icon of apps
     without an icon (sym_def_app_icon, the AOSP robot) with Vetro's. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vetro.overlay.framework">
    <application android:hasCode="false" />
    <overlay
        android:targetPackage="android"
        android:isStatic="true"
        android:priority="10" />
</manifest>
